html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

.micon {
  display: block;
  margin: 0 auto;
}

.ficon {
  position: relative;
  bottom: -2px;
  height: 30px;
}

h6 > a {
  color: #337ab7
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
  line-height: 32px;
  background-color: #EEE;
}

.sig {
  position: relative;
  bottom: -16px;
}

.navbar {
  background-color: #EEE
}

.card {
  background-color: #EEE
}

.date {
  color: #AAA;
  font-size: 14px;
}

.footer a {
  height: 32px;
}

.shadow {
  box-shadow: 10px 10px 5px gray;
}

#particles {
    position: absolute;
    width: 100px;
    height: 800px;
    z-index: -1;
}

.static {
  resize: none
}

.nostyle {
  list-style-type: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #337ab7
}

.articlelist {
  list-style-type: none;
}

.article a {
  color: inherit;
  text-decoration: none;
}

.message .message-delete {
  visibility: hidden;
}

.preview-frame {
  height: 60%;
}

.input-group-addon {
    min-width: 100px;
}

.indent {
    text-indent: 1.5rem;
}
