.jumbotron h1 {
    color: white;
}
.container .jumbotron {
    padding-top: 15px;
    padding-bottom: 1px;
    margin-top: 30px;
    margin-bottom: 0px;
    background-color: #337ab7;
    border-radius: 0px;
}

.fluidcontainer .jumbotron {
    padding-top: 15px;
    padding-bottom: 1px;
    margin-top: 30px;
    margin-bottom: 0px;
    background-color: #337ab7;
    border-radius: 0px;
}

.normal {
    background-color: grey;
}
.drag {
    background-color: green;
}
.dragArea{
     min-height: 10px;
}
.navbar {
  /*position: fixed;*/
    /*background-color: #181818;*/
    /*border-bottom-color: #939393;*/
    /*border-left-color: #939393;*/
    /*border-right-color: #939393;*/
    /*border-top-color: #939393;*/

}

.main-media {
  position: relative;
  left: 38%;
}


.footer {
  position: fixed;
  display: inline-block;
  background-color: #fff;
  width: 101%;
  height: 5%;
  bottom: 0px;
  left: 0px;
}


.nav>li>a {
    padding: 15px 25px;
/*    color: black; */
}

.fa-play {
    position: relative;
    left: -25px;
}

#particles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.panel.login-panel {
    position: relative;
    width: 50%;
    left: 25%;
}

.panel.user-panel {
    position: relative;
    padding-bottom: 10px;
}

.panel.messages-panel {
    position: relative;
    padding-bottom: 10px;
}

.submit-messages {
    position: relative;
    top: 20px;
    margin-top: 20px;
}

.preview-frame {
  height: 60%;
}

.gitcon {
    /*background-color: darkgrey;*/
    position: fixed;
    bottom: 0;
    left: 10px;
}
.linkcon {
    /*background-color: #fff;*/
    position: fixed;
    bottom: 0;
    left: 55px;
}

.fb-login-button {
  position: relative;
  margin: 2vh 0 0 4vh
}

.indent {
    text-indent: 4rem;
}
.bottom-10 {
    position: relative;
    bottom: 10px;
}
.top-10 {
    position: relative;
    top: 10px;
}

.top-20 {
    position: relative;
    top: 20px;
}

.right-10 {
    position: relative;
    right: 10px;
}

.right-20 {
    position: relative;
    right: 20px;
}

.right-30 {
    position: relative;
    right: 50px;
}

.left-10 {
    position: relative;
    left: 10px;
}

.left-20 {
    position: relative;
    left: 20px;
}

.left-25 {
    position: relative;
    left: 25px;
}

.left-30 {
    position: relative;
    left: 30px;
}
.left-35 {
    position: relative;
    left: 37px;
}

.left-40 {
    position: relative;
    left: 40px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-left-15 {
    margin-left: 5em;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-top-20 {
    padding-top: 10px;
}

.border-right-10 {
    border-right: 10px;
}
