extends ../includes/layout.pug

append resources
  title About
  
append body
  .card
    .card-block
      h1 About this site
      p.indent.card-text Proof of concept site showing login system, messaging/post system, user authentication, and dynamic webpages. Powered by Node.js, Express, PostgreSQL, Pug, and Vue.
      //- p.indent Particle system courteous of #[a(href='https://github.com/VincentGarreau/') Vincent Garreau].
