doctype html
html
    head
        include ../includes/default_page.pug
        +head('About')
    body(style='background-color: gray')
        .container
            +header('Info')
            +navvy(3)
            .panel.panel-default
                .panel-body
                    h1.text-left.left-10 About this site
                    p.indent Proof of concept site showing login system, messaging/post system, user authentication, and dynamic webpages. Powered by Node.js, PostgreSQL, Pug, and Vue.
                    p.indent Particle system courteous of #[a(href='https://github.com/VincentGarreau/') Vincent Garreau].        