extends ../includes/layout.pug

append resources
  title About
  
append body
  .card
    h1.card-header About this site
    .card-body
      p.indent Proof of concept site showing login system, messaging/post system, user authentication, and dynamic webpages. Powered by Node.js, Express, PostgreSQL, Pug, and Vue. Responsive layout, ensuring mobile and desktop users have the same pleasant experience. Proper Facebook integration, allowing shared articles proper formatting and highlights. 
      p.indent Created by Angel Ruiz-Bates
