extends ../includes/layout.pug

append resources
  title About
  
append body
  .card
    h1.card-header About this site
    .card-body
      h5.indent Enlightening the public and captivate.
      p.indent I'm here to share entertaining, accurate stories from all over the world.
      p.indent Want to submit something? Have questions or comments? Email me at angeljrbt@gmail.com
      p.indent Created by 
        a(href='https://www.facebook.com/AngelitoJB') Angel Ruiz-Bates
