extends ../includes/layout.pug

append resources
  title Article
  
append body
  .row
    .col-md-12
      .card
        h1.text-center= title
        video.main-media(width='320' height='320' controls)
          source(src='/article/media/' + id)
        //- .text-center.figure-caption Test video
        hr
        .card-block
          != body
      
