extends ../includes/layout.pug

append resources
  title Article
  //- +initFb
  +shareThis
  
append body
  +initFb
  .row
    .col-md-12
      .card.justify-content-center
        h2.mt-2.text-center= title
        video.mx-auto(width='320' height='320' controls)
          source(src='/article/media/' + id)
        //- .text-center.figure-caption Test video
        .card-body
          != body
          br
          br
          .sharethis-inline-share-buttons
          //- .ml-auto
          .text-center
            +fbComments
  
