extends ../includes/layout.pug

append resources
  title Creator
  script(src='vendor/dropzone.min.js')
  link(href='vendor/dropzone.min.css' rel='stylesheet')
  
append body
  .row
    .col-md-8.mx-auto
      form.dropzone#upload-zone(action='/upload' method='POST')
      script.
        Dropzone.options.uploadZone = {
          paramName: 'media'
        }
      br
  .row
    .col-md-10.mx-auto
      .card
          .card-body
            .form-group
              form(action='/createart' method='POST')
                input(type='hidden' name='id' value=id || '-1')
                .form-group
                  h3 
                    strong Article title
                  input.form-control(type='text' name='title' placeholder='Enter title here' value= editing? title : "")
                .form-group
                  h3 
                    strong Author
                  input.form-control(type='text' name='author' value= author)
                .form-group
                  h3 
                    strong Description
                  input.form-control(type='text' name='description' placeholder='Enter description here' value= editing? description : "")
                .form-group
                  h3 
                    strong Thumbnail 
                  input.form-control(type='text' name='thumbnail' placeholder='Enter thumbnail name here' value= editing? thumbnail : "")
                .form-group
                  h3
                    strong Date
                  input.form-control(type='text' name='date' value=date)
                .form-group
                  h3 
                    strong Article data
                  textarea.articledata.form-control(rows=6 name='data' placeholder='Enter article data here')= editing? body : ""
                input.btn.btn-primary(type='submit' value='Submit')
                
                
