extends ../includes/layout.pug

append resources
  title Creator
  script(src='vendor/dropzone.min.js')
  link(href='vendor/dropzone.min.css' rel='stylesheet')
  
append body
  .row
    .col-md-8.mx-auto
      form.dropzone#upload-zone(action='/upload' method='POST')
      script.
        Dropzone.options.uploadZone = {
          paramName: 'media'
        }
      br
  .row
    .col-md-10.mx-auto
      .card
          .card-body
            .form-group
              form(action='/createart' method='POST')
                .form-group
                  h3 
                    strong Article title
                  input.form-control(type='text' name='title' placeholder='Enter title here')
                .form-group
                  h3 
                    strong Description
                  input.form-control(type='text' name='description' placeholder='Enter description here')
                .form-group
                  h3 
                    strong Thumbnail 
                  input.form-control(type='text' name='thumbnail' placeholder='Enter thumbnail name here')
                .form-group
                  h3 
                    strong Article data
                  textarea.articledata.form-control(rows=6 name='data' placeholder='Enter article data here')
                input.btn.btn-primary(type='submit' value='Submit')
                
                
