//
   Created by angel on 6/13/17.

doctype html
html
    head
        include ../includes/default_page.pug
        +head('Tiles')
    body(style='background-color: gray')
        script(src='js/pathfinder.js')
        script(src='js/board.js')
        script(src='js/game.js')
        .container
            +header('Path finder')
            +navvy(2)

            +row(2, 6)
                i(class='fa f a-play fa-2x')
            br
            .row
              .col-md-1
                input.btn.btn-info.form-control(type='button' value='Run' onClick='pf.addToOpen()')
              .col-md-1
                input.btn.btn-info.form-control(type='button' value='Reset' onClick='pf.reset()')
              .col-md-10
                canvas(id='canvy' width=800 height=640 style="border:1px solid #000000; position:relative; top:0px; left:-15px")

            br
            br
            br
