doctype html

html
    head
      include ../includes/default_page.pug
      +head('Private Policy')
    body(style='background-color: gray')
      .container
        +header('Private Policy')
        +navvy(0)
        .panel.panel-default
          .panel-body
            h1.text-center Our Policy
            li.h4.indent Copyrighted under US law. All content on this website is property of its respectful owner. Any outside content is used under Fair Use. If you have any questions or concerns please send a message to...
