
doctype html

html
    head
      script(src='https://unpkg.com/vue@2.4.1')
    body(style='background-color: gray')
      script(src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js")
      script(scr='http://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.14.1/vuedraggable.min.js')
      link(href='css/style.css' rel='stylesheet')

      #main
        h1 {{ title }}


      script(src='vue/vue.js')
