extends ../includes/layout.pug

append resources
  title Private Policy
  
append body
  .card
    .card-body
      h1.text-center Our Policy
      li.indent Copyrighted under US law. All content on this website is property of its respectful owner. Any outside content is used under Fair Use. If you have any questions or concerns please send a message to angeljrbt@gmail.com
