extends ../includes/layout.pug

append resources
  title Computer Services
  
append body
  .card
    .card-header
      h3 Cheap Computer Services
    .card-body
      h4 Computer services all across Tucson! Way cheaper than Geek Squad
      p Contact: (520) 392-4034
      p Computer being slow or not working? Give me a call and I'll get it back up asap!
      p Way cheaper than the other guys & immediate support.
      p Price $30/Hour

  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-107735583-1")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-107735583-1');
