extends ../includes/layout.pug

append resources
  title Signup
  form(action='/new' method='POST' id='signup')
append body
  +header('Signup')
  +navvy(0)
  .card.col-md-6.offset-md-3
    .card-block
      if (flash.taken || flash.incorrect)
        .alert.alert-danger.text-center
          = flash.taken || flash.incorrect
      .form-group
          +row(7, 2)
              .input-group
                .input-group-addon Username
                input.form-control(type='text' name='username' form='signup')
      .form-group
          +row(7, 2)
            .input-group
              .input-group-addon Email
              input.form-control(type='text' name='email' form='signup')
      .form-group
          +row(7, 2)
            .input-group
              .input-group-addon Password
              input.form-control(type='password' name='password' form='signup')
      +row(4, 4)
          input.form-control(type='submit' class='btn btn-primary' value='Register' form='signup')
