doctype html
html
    head
        include ../includes/default_page.pug
        +head('Signup')
    body
        script.
            function check() {
                var user = $("#username").val();
                var pass = $("#password").val();
                if (user == '' || pass == '') {
                    alert("Username or password invalid");
                    return false;
                }
                return true;
            }
        form(action='/new' method='POST' id='signup')
        .container
            +header('Signup')
            +navvy(0)
            .form-group
                +row(4, 4)
                    input.form-control(type='text' name='username' id='username' placeholder='Username' form='signup')
                    br
                +row(4, 4)
                    input.form-control(type='password' name='password' id='password' placeholder='Password' form='signup')
                    br
                +row(2, 5)
                    input.form-control(type='submit' onclick='return check();'  class='btn btn-primary' value='Register' form='signup')


