doctype html
html
    head
        include ../includes/default_page.pug
        +head('Signup')
    body(style='background-color: gray')
        +particles
        div(id='particles')
        form(action='/new' method='POST' id='signup')
        .fluidcontainer
            +header('Signup')
            +navvy(0)
            .panel.panel-default.login-panel.col-md-6.col-md-offset-3
              .panel-body
                br
                if (flash.taken || flash.incorrect)
                  .alert.alert-danger.text-center
                    = flash.taken || flash.incorrect
                .form-group
                    +row(6, 3)
                        input.form-control(type='text' name='username' id='username' placeholder='Username' form='signup')
                        br
                    +row(6, 3)
                        input.form-control(type='password' name='password' id='password' placeholder='Password' form='signup')
                        br
                    +row(4, 4)
                        input.form-control(type='submit' class='btn btn-primary' value='Register' form='signup')
                br
