extends ../includes/layout.pug

append resources
  title= title
  //- +initFb
  +shareThis
  meta(property="og:url"                content='http://' + path)
  meta(property="og:type"               content="article")
  meta(property="og:title"              content=title)
  meta(property="og:description"        content=description)
  meta(property="og:image"              content='http://clickwithit.us/media/' + thumbnail)
  meta(property="fb:app_id"             content="124609491488258")

append body
  +initFb
  .row
    .col-md-12
      .card.justify-content-center
        h2.card-header.text-center Videos of Las Vegas shooter opening fire
        .card-body
          .text-center
            .row
              .col-md-8.mx-auto
                figure.figure
                  img.figure-image.img-fluid.rounded(src='http://clickwithit.us/media/lvsp.jpg')
                  figcaption.figure-caption Stephen Paddock. Source CNN.com
                p The United States just went through its deadliest mass shooting in modern history. Killing 59 and injuring nearly 500 others, the motive of the perpetrator Stephen Paddock is still unknown.
                p People are running scared and confused, while the gunman reloaded one of his 23 weapons. Police found an additional 19 guns in his house located in Mesquite, Nevada, along with explosives and several thousand rounds of ammunition.
                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(allowfullscreen src='http://www.miscopy.com/?attachment_id=9430&kgvid_video_embed[enable]=true' frameborder='0' scrolling='no' width='840' height='473')
                br
                p Stephen was considered to be a lone wolf in this tragedy, but these videos seem to put that to question. In both, you can clearly hear two distinct weapons being fired.
                br
                .embed-responsive.embed-responsive-4by3
                  iframe.embed-responsive-item(allowfullscreen src='http://www.miscopy.com/?attachment_id=9434&kgvid_video_embed[enable]=true' frameborder='0' scrolling='no' width='840' height='840')
          br
          .sharethis-inline-share-buttons
          .text-center
            +fbComments
