extends ../includes/layout.pug

append resources
  title= title
  //- +initFb
  +shareThis
  meta(property="og:url"                content='http://' + path)
  meta(property="og:type"               content="article")
  meta(property="og:title"              content=title)
  meta(property="og:description"        content=description)
  meta(property="og:image"              content='http://clickwithit.us/media/' + thumbnail)
  meta(property="fb:app_id"             content="124609491488258")

append body
  +initFb
  .row
    .col-md-12
      .card.justify-content-center
        h2.card-header.text-center Obamacare setup to fail
        .card-body
          .text-center
            .row
              .col-md-8.mx-auto
                figure.figure
                  img.figure-img.img-fluid.rounded(src='http://clickwithit.us/media/hcfc.jpg')
                  figcaption.figure-caption Source Snopes.com
                p Advertising and outreach for Obamacare has been cut by 90 percent, essentially neutering all efforts of perpetuating it. Without these efforts, less will sign up during this upcoming enrollment period, spanning November 1st, 2017 to December 15th, 2017. These outreach programs are essential to keep the health care exchanges afloat. Without them, the exchanges are in danger of collapsing due to insufficient people to blanket the costs of the most needy and vulnerable. This apparent sabotage is the GOP’s last ditch effort to repeal OCare after 3 failed attempts to pass health care legislation.
                p We must unite and resist these unacceptable, and disgusting tactics of sabotage and undercutting the American people. 
                p 
                  | You can enroll in a little under a month. Learn more information and 
                  a(href='https://www.healthcare.gov/get-coverage/') Enroll here!
                p And please, spread the word.
 
          br
          .sharethis-inline-share-buttons
          .text-center
            +fbComments
