extends ../includes/layout.pug

append resources
  title= title
  //- +initFb
  +shareThis
  meta(property="og:url"                content='http://' + path)
  meta(property="og:type"               content="article")
  meta(property="og:title"              content=title)
  meta(property="og:description"        content=description)
  meta(property="og:image"              content='http://clickwithit.us/media/' + thumbnail)
  meta(property="fb:app_id"             content="124609491488258")

append body
  +initFb
  .row
    .col-md-12
      .card.justify-content-center
        h2.card-header.text-center Another Unprecedented Discovery By LIGO 
        .card-body
          .text-center
            .row
              .col-md-8.mx-auto
                figure.figure
                  img.figure-image.img-fluid.rounded(src='/media/adogw.jpg')
                  figcaption.figure-caption Artist depiction of graviational waves. R. HURT/CALTECH-JPL
                br
                p Waves are being made, and thankfully LIGO and its European counterpart VIRGO are there to detect them. On September 14th, 2015 the first gravitational waves were detected and a whole new field of astronomy was born. This latest confirmation of Einstein’s 
                  a(href='https://en.wikipedia.org/wiki/General_relativity') general relativity 
                  | was electrifying in the physics community, as it was the first actual direct evidence of black holes. Since then, the two collaborating teams have announced three additional detections, all from binary black whole mergers.
                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(width="560" height="315" src="https://www.youtube.com/embed/wrqbfT8qcBc?rel=0" frameborder="0" allowfullscreen)
                figcaption.figure-caption Source LIGO
                p  These amazing efforts have culminated in Noble prizes for three prominent scientists for their work on the joint interferometer collaborations. One half of the prize being bestowed upon Rainer Weiss, and the other half split between LIGO cofounder Kip S. Thorne and its director Barry C. Barish. Weiss being the inventor of the laser interferometric technique which is the basis of LIGO’s operation.
                p It seems LIGO is just getting started. Since being put back online on September 2015, after being upgraded to increase its sensitivity, it has been in the world’s spotlight. That light is about to get a whole lot bigger on Monday, October 16th at 10AM EST when the teams announce another unprecedented discovery. Not much is known at the moment, but given LIGO’s history it’s going to be a good one. You can watch the announcement live from the 
                  a(href='https://www.nsf.gov/') National Science Foundation’s 
                  | website or the 
                  a(href='https://www.eso.org/public/') European Southern Observatory’s 
                  | site. Either way, sit tight and wait to be amazed.
                  

          .sharethis-inline-share-buttons
          .text-center
            +fbComments
