extends ../includes/layout.pug

append resources
  title= title
  //- +initFb
  +shareThis
  meta(property="og:url"                content='http://' + path)
  meta(property="og:type"               content="article")
  meta(property="og:title"              content=title)
  meta(property="og:description"        content=description)
  meta(property="og:image"              content='http://clickwithit.us/media/' + thumbnail)
  meta(property="fb:app_id"             content="124609491488258")

append body
  +initFb
  .row
    .col-md-12
      .card.justify-content-center
        h2.card-header.text-center Amazing pictures of the raging Cali fire
        .card-body
          .text-center
            .row
              .col-md-8.mx-auto
                figure.figure
                  img.figure-image.img-fluid.rounded(src='http://clickwithit.us/media/disland.jpg')
                  figcaption.figure-caption The Californian fires left Disneyland's sky an eerily creepy orange. Source 
                    a(href='https://www.instagram.com/p/BaCl0VJhllf/?hl=en&taken-by=juniorolivas') Juniorolivas / Instagram 
                  br
                  p Disneyland patrons were left with extraordinary views of a seemingly unreal smoky orange sky, painted by yet another Californian wildfire. The happiest place on earth is filled will the surreal feeling of doom and destruction.
                  blockquote.instagram-media.mx-auto(data-instgrm-version='7', style=' background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);')
                    div(style='padding:8px;')
                      div(style=' background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;')
                        div(style=' background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;')
                      p(style=' color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;')
                        a(href='https://www.instagram.com/p/BaCuQyqlNjH/', style=' color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;', target='_blank') A post shared by Kyle Tabata (@disneydayfor_k)
                        |  on 
                        time(style=' font-family:Arial,sans-serif; font-size:14px; line-height:17px;', datetime='2017-10-09T21:35:13+00:00') Oct 9, 2017 at 2:35pm PDT
                  blockquote.twitter-tweet.tw-align-center(data-lang='en')
                    p(lang='en', dir='ltr')
                      | Dystopian future or 
                      a(href='https://twitter.com/hashtag/canyonfire2?src=hash&ref_src=twsrc%5Etfw') #canyonfire2
                      |  from 
                      a(href='https://twitter.com/Disneyland?ref_src=twsrc%5Etfw') @Disneyland
                      a(href='https://twitter.com/hashtag/spacemountain?src=hash&ref_src=twsrc%5Etfw') #spacemountain
                      a(href='https://t.co/hydwnbqe3w') pic.twitter.com/hydwnbqe3w
                    | — Laura Olden (@LOldenPhoto) 
                    a(href='https://twitter.com/LOldenPhoto/status/917496226576084992?ref_src=twsrc%5Etfw') October 9, 2017
                p California has been plagued with wildfires for the past 3 days. Over 100 people are in hospitals for burns varying in severity and smoke inhalation. Thirteen people were left dead. Another 20,000 were displaced due to forced evacuations and are still being left homeless, many stuck in makeshift shelters. 
                p The 17 separate wildfires are spread across northern California, occupying an area that spans around 3,250 square miles. Most of the fires are concentrated in areas north of Santa Rosa, the east side of Sugarloft Ridge State Park, and north of Napa. There is also a smaller wildfire between Sonoma and Napa.
                blockquote.twitter-tweet.tw-align-center(data-lang='en')
                  p(lang='en', dir='ltr')
                    | View from my sisters home right now. Praying this fire does not jump to their track 
                    a(href='https://twitter.com/hashtag/anaheimhillsfire?src=hash&ref_src=twsrc%5Etfw') #anaheimhillsfire
                    a(href='https://t.co/cUrtUsI40K') pic.twitter.com/cUrtUsI40K
                  | — Megan Reza (@megan_reza) 
                  a(href='https://twitter.com/megan_reza/status/917493603353554944?ref_src=twsrc%5Etfw') October 9, 2017
                p A massive tower of smoke seen lingering over a Californian city.
                figure.figure
                  img.figure-image.img-fluid.rounded(src='/media/orangectyfr.jpg')
                  figcaption.figure-caption AP/CINDY YAMANAKA
                p State officials estimate the fires had burned about 115,000 acres over eight counties, and as of Tuesday, October 10th firefighters are still working to contain the relentless flames. Efforts of containment have been complicated by gusty winds, which spawned numerous secondary fires. 
                p This year has been particularly bad for wildfires, particularly in California. In the last decade 6 million acres were burned on average per year across America. In 2017, as of October 6th, we surpassed 8.5 million acres, almost a million of those acres burned in California alone. While this is very concerning, we haven’t surpassed the astonishingly high average of 2015. Although that is something to be grateful for, this year has been tormented by natural disasters, extending way beyond wildfires. And with the current administration seemingly doing everything it can to avoid hindering climate change, these disasters are going to become the norm.
                blockquote.twitter-tweet.tw-align-center(data-lang='en')
                  p(lang='en', dir='ltr')
                    a(href='https://t.co/0inzYxQmAU') pic.twitter.com/0inzYxQmAU
                  | — Matt K (@dcdaddwysWT) 
                  a(href='https://twitter.com/dcdaddysWT/status/917720407159070721?ref_src=twsrc%5Etfw') October 10, 2017

                script(async='', defer='', src='//platform.instagram.com/en_US/embeds.js')
                script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')

          .sharethis-inline-share-buttons
          .text-center
            +fbComments
