extends ../includes/layout.pug

append resources
  title= title
  //- +initFb
  +shareThis
  meta(property="og:url"                content='http://' + path)
  meta(property="og:type"               content="article")
  meta(property="og:title"              content=title)
  meta(property="og:description"        content=description)
  meta(property="og:image"              content='http://clickwithit.us/media/' + thumbnail)
  meta(property="fb:app_id"             content="124609491488258")
  =console.log(thumbnail)

append body
  +initFb
  .row
    .col-md-12
      .card.justify-content-center
        h2.mt-2.text-center Dumbass girl live streaming herself crash, and kill her own sister
        .card-body
          .text-center
            video(width="320" height="320" controls)
              source(src='http://clickwithit.us/media/bb.mp4' type='video/mp4')
            p People always trying to act hard or impress their friends, but to what end? This dumbass decided it was a good idea to live stream herself jamming out while driving, because who doesn't want to see that? She promptly crashes and, well you'll see the rest.
          br
          br
          .sharethis-inline-share-buttons
          .text-center
            +fbComments
