doctype html
html
    head
        include ../includes/default_page.pug
        +head('Profile')

    body(style='background-color: gray')
        .container
            +header(localUsername)
            - var index = owner ? 0 : 1
            +navvy(index)
            form(action="/delete/" + localId method='GET' id='delete')
            form(action="saveMessage?" + localId method='POST' id='save')
                input(type='hidden' id='id' name='id' value=localId)

            .row
                .col-md-6
                    .panel.panel-default.user-panel
                        br
                        .btn-toolbar.left-10
                            a(class='btn btn-primary' href='/list') Back
                            if (owner)
                              input(type='submit' class='btn btn-danger' value='Delete' form='delete')
                        br
                        .row
                            div(class='col-md-1 col-md-offset-3')
                                img(src='/photo/' + localId)
                            div(class='col-md-8 left-10 bottom-10')
                                h2='Username '
                                    span(class='label label-primary left-10')= localUsername
                .col-md-6
                    if(owner || messages.length > 0)
                        .panel.panel-default.messages-panel
                            .row
                              if (owner)
                                .col-md-12
                                    textarea.left-35(rows=5 cols=65 style='margin-top: 20px; resize: none' form='save' name='message')
                                .col-md-12.col-md-offset-9
                                    input.margin-bottom-20.top-10(type='submit' class='btn btn-info' value='Submit' form='save')
                                br
                                br
                            ul(class='list-group')
                                each message in messages
                                    li(class='list-group-item text-center')= message.messages
            +footer
