mixin head(title)
    title= title
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='css/bootstrap.min.css' rel='stylesheet')
    link(href='css/font-awesome.min.css' rel='stylesheet')
    link(href='css/style.css' rel='stylesheet')
    script(src='/js/jq.js')
    script(src='https://unpkg.com/vue@2.4.1')
    script(src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
    link(rel="icon" href="media/icon.ico")

mixin header(title)
    .jumbotron.text-center
        h1= title
        
mixin particles()
  script.
    particlesJS.load('particles', 'media/particles.json', function() {
      console.log('callback - particles.js config loaded');
    });

mixin footer()
  .row.footer
    .col-md-12
      p.text-center.top-10 &copy 2017 Alcides Ruiz
  +icons

mixin navvy(index)
    -
        var pages = [ 'Home', 'Users', 'Path Finder', 'About'];
        var urls = [ '/', '/list', '/game', '/about' ];
    nav(class='navbar navbar-default')
        ul(class='nav nav-pills')
            each i in [0, 1, 2, 3]
                li(class={active: index == i}): a(href=urls[i])= pages[i]
            if(loggedIn)
                li(class='pull-right'): a(href='/logout') Logout
mixin initFb()
  script.
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '124609491488258',
        xfbml      : true,
        version    : 'v2.10'
      });
      FB.AppEvents.logPageView();
    };

    var js, fjs = document.getElementsByTagName('script')[0];
    if (!document.getElementById('facebook-jssdk')) {
      js = document.createElement('script'); js.id = 'facebook-jssdk';
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=124609491488258";
      fjs.parentNode.insertBefore(js, fjs);
    }

mixin icons
  a(href= 'https://github.com/ahdelgado')
      i.fa-3x.fa.fa-github.gitcon
  a(href='https://www.linkedin.com/in/ruizaj')
      i.fa-3x.fa.fa-linkedin.linkcon
mixin row(size, offset)
    .row
        div(class='col-md-' + size class=offset==0? '' : 'col-md-offset-' + offset)
            if block
                block
