mixin header()
  a(href='/')
    img.micon(src='/media/icon.png' width='300' height='100')
        
mixin particles()
  script.
    particlesJS.load('particles', 'media/particles.json', function() {
      console.log('callback - particles.js config loaded');
    });

mixin footer()
  .footer
    +icons
    a.float-right.mr-2(href='/privatepolicy' style='font-size:14px') Privacy
    a.float-right.mr-2(href='/contact' style='font-size:14px') Contact Us
    a.float-right.mr-2(href='/about' style='font-size:14px') About
    .text-center(style='font-size:12px') &copy 2017 Angel Ruiz-Bates

mixin navvy(index)
  -
      var pages = [ 'Home', 'Users', 'Articles'];
      var urls = [ '/', '/list', '/articlelist' ];  
  nav.navbar.navbar-expand-xl.mb-4.navbar-light.sticky-top
    //- .navbar-brand.mr-auto Testr
    button.navbar-toggler.ml-auto.btn(type='button' data-toggle='collapse' data-target='#navcollapse')
      span.navbar-toggler-icon
    #navcollapse.collapse.navbar-collapse.justify-content-end
      ul.navbar-nav   
        each i in [0, 1, 2]
          li.nav-item: a.nav-link(href=urls[i])= pages[i]
        if(loggedIn)
          li.nav-item: a.nav-link(href='/logout')
            i.fa.fa-sign-out.fa-lg
                
mixin nav-links()
  li 
    a(href="/") Home
  li 
    a(href="") Nav 1
  li 
    a(href="") Nav 2
  li 
    a(href="") Nav 3
mixin initFb()
  #fb-root
  script.
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=124609491488258";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    
mixin fbComments()
  .fb-comments(data-href=path data-numposts="5")

mixin shareThis()
  script(type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=59b99f6524814000110af347&product=inline-share-buttons")
mixin icons
  a.float-left.ml-2(href= 'https://github.com/angeljruiz')
      i.fa-2x.fa.fa-github.gitcon
  //- a(href='https://www.linkedin.com/in/ruizaj')
      i.fa-3x.fa.fa-linkedin.linkcon
mixin row(size, offset)
    .row
        div(class='col-md-' + size class=offset==0? '' : 'offset-md-' + offset)
            if block
                block
