mixin header()
  a(href='/')
    img.micon(src='/media/icon.png' width=128 height=128)
        
mixin particles()
  script.
    particlesJS.load('particles', 'media/particles.json', function() {
      console.log('callback - particles.js config loaded');
    });

mixin footer()
  .footer.bg-faded
    .text-center &copy 2017 Angel Ruiz-Bates
    //- +icons

mixin navvy(index)
    -
        var pages = [ 'Home', 'Articles', 'About'];
        var urls = [ '/', '/articlelist', '/about' ];  
    nav.navbar.navbar-toggleable-md.navbar-inverse.bg-faded.mb-4.justify-content-end
      //- a.navbar-item.mr-auto.ml-2.hicon(href='/')
      //-   img(src='/media/icon.png' width=48 height=48)    
      each i in [0, 1, 2]
          li.nav-link: a(href=urls[i])= pages[i]
      if(loggedIn)
          li.nav-link: a(href='/logout')
            i.fa.fa-sign-out.fa-lg
              
mixin newNav(index)
  -
    var pages = [ 'Home', 'Users', 'Article List', 'About'];
    var urls = [ '/', '/list', '/articlelist', '/about' ];
  nav(class='nav navbar-nav navbar-right')
      ul(class='nav nav-pills')
          each i in [0, 1, 2, 3]
              li(class={active: index == i}): a(href=urls[i])= pages[i]
          if(loggedIn)
              li(class='pull-right'): a(href='/logout') Logout
                
mixin nav-links()
  li 
    a(href="/") Home
  li 
    a(href="") Nav 1
  li 
    a(href="") Nav 2
  li 
    a(href="") Nav 3
mixin initFb()
  script.
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '124609491488258',
        xfbml      : true,
        version    : 'v2.10'
      });
      FB.AppEvents.logPageView();
    };

    var js, fjs = document.getElementsByTagName('script')[0];
    if (!document.getElementById('facebook-jssdk')) {
      js = document.createElement('script'); js.id = 'facebook-jssdk';
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=124609491488258";
      fjs.parentNode.insertBefore(js, fjs);
    }

mixin icons
  a(href= 'https://github.com/angeljruiz')
      i.fa-3x.fa.fa-github.gitcon
  //- a(href='https://www.linkedin.com/in/ruizaj')
      i.fa-3x.fa.fa-linkedin.linkcon
mixin row(size, offset)
    .row
        div(class='col-md-' + size class=offset==0? '' : 'offset-md-' + offset)
            if block
                block
