doctype html
html
  head
    block resources
      meta(charset="utf-8")
      meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
      link(href='http://localhost/css/bootstrap.min.css' rel='stylesheet')
      link(href='http://localhost/css/font-awesome.min.css' rel='stylesheet')
      link(href='http://localhost/css/style.css' rel='stylesheet')
      link(rel="icon" href="http://localhost/media/icon.ico")
      include ../includes/default_page
  body(style='background-color: #337ab7')
    +header()
    +navvy
    .container-fluid
      block body
    +footer()
